/*
 * Parrot v1.0.0
 * Copyright 2015, Hexagon Safety & Infrastructure
 */

// Global
@import "parrot/variables";
@import "parrot/mixins/_clearfix.scss";
@import "parrot/mixins/_grid.scss";

// Resets
@import "parrot/normalize";

// Core
@import "parrot/scaffolding";
@import "parrot/grid";

// Components
@import "parrot/typography";
@import "parrot/iconography";
@import "parrot/tables";
@import "parrot/forms";
@import "parrot/navbar";
@import "parrot/buttons";
@import "parrot/headers";

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.row:before,
.row:after {
	display: table;
	content: "";
}

.clearfix:after,
.container:after,
.row:after {
	clear: both;
}