@font-face {
	font-family: 'Parrot Hexacons';
	src: url(#{$icon-font-path}#{$icon-font-name}.eot);
	src: url(#{$icon-font-path}#{$icon-font-name}.eot?#iefix) format('embedded-opentype'),
			url(#{$icon-font-path}#{$icon-font-name}.woff) format('woff'),
			url(#{$icon-font-path}#{$icon-font-name}.ttf) format('ttf'),
			url(#{$icon-font-path}#{$icon-font-name}.svg) format('svg');
}

.hexacon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Parrot Hexacons';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hexacon-administration 	{ &:before { content: "\e900"; } }
.hexacon-compose 			{ &:before { content: "\e901"; } }
.hexacon-delete 			{ &:before { content: "\e902"; } }
.hexacon-down-arrow 		{ &:before { content: "\e903"; } }
.hexacon-help 				{ &:before { content: "\e904"; } }
.hexacon-inbox 				{ &:before { content: "\e905"; } }
.hexacon-left-arrow 		{ &:before { content: "\e906"; } }
.hexacon-log-out 			{ &:before { content: "\e907"; } }
.hexacon-logged-in 			{ &:before { content: "\e908"; } }
//.hexacon-my-account 		{ &:before { content: "\e909"; } }
.hexacon-right-arrow 		{ &:before { content: "\e90a"; } }
.hexacon-up-arrow 			{ &:before { content: "\e90b"; } }