table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Basic Table
// ----------------------------------------
// ## Adds padding and borders to table elements with emphasis on header.

.parrot-table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;

	thead {
		background-color: $hex-light-gray;
		color: $hex-black;
		text-align: left;
	}

	> thead,
	> tbody,
	> tfoot {
		> tr {
		> th,
			> td {
				padding: $table-cell-padding;
			}
		}
	}
}