table {
	border-collapse: collapse;
	border-spacing: 0;
}

.parrot-table {
	width: 100%;
	max-width: 100%;

	thead {
		background-color: $hex-light-gray;
		color: $hex-black;
		text-align: left;
	}

	> thead,
	> tbody,
	> tfoot {
		> tr {
		> th,
			> td {
				padding: $table-cell-padding;
				border-bottom: 1px solid $hex-light-gray;
			}
		}
	}
}