//
// ----------------------------------------
// Variables
// ----------------------------------------
//

// Colors
// ----------------------------------------
// ## Primary and secondary colors.

// ** primary colors
$hex-si-dark-blue:					#1b98aa !default;
$hex-si-norm-blue:					#50bcd1 !default;
$hex-si-light-blue:					#85cddb !default;

// ** secondary colors
$hex-blue:							#0197ba !default;
$hex-slate-blue:					#86c8bc !default;
$hex-red-orange:					#dc6b2f !default;
$hex-orange:						#ed8b00 !default;
$hex-yellow-orange:					#f1c400 !default;
$hex-dark-green:					#509e2f !default;
$hex-light-green:					#a5d867 !default;
$hex-yellow-green:					#b7bf10 !default;
$hex-dark-gray:						#666666 !default;
$hex-light-gray:					#e6e6e6 !default;
$hex-black:							#000000 !default;

// Typography
// ----------------------------------------
// ## Fonts, headings, body text, and more.

// ** default font settings
$font-family-default:				"Helvetica Neue",Helvetica,Arial,sans-serif !default;
$font-size-default:					1.0rem !default;
$font-color-default:				$hex-black !default;
$line-height-default:				1.6 !default;

// ** headings font settings
$font-size-h1:						$font-size-default * 3.50 !default;
$font-size-h2:						$font-size-default * 3.00;
$font-size-h3:						$font-size-default * 2.50;
$font-size-h4:						$font-size-default * 2.00;
$font-size-h5:						$font-size-default * 1.50;
$font-size-h6:						$font-size-default;

// Iconography
// ----------------------------------------
// ## Location and filename for icon font.

// ** path to font files
$icon-font-path:					"../fonts/" !default;

// ** filename for all font files
$icon-font-name:					"parrot-hexacons" !default;

// Media Queries
// ----------------------------------------
// ## Breakpoints when layout will change.

// ** minimum sizes for devices
$screen-phone:						480px !default;
$screen-phablet:					600px !default;
$screen-tablet:						768px !default;
$screen-desktop:					1200px !default;

// Grid
// ----------------------------------------
// ## Responsive grid.

// ** number of columns in the grid
$grid-columns:						12 !default;

// ** spacing between columns
$grid-gutter-width:					24px !default;

// Containers
// ----------------------------------------
// ## Width of container at specific screen sizes.

// ** container sizes for devices
$container-phablet:					(560px + $grid-gutter-width) !default;
$container-tablet:					(728px + $grid-gutter-width) !default;
$container-desktop:					(1160px + $grid-gutter-width) !default;

// Tables
// ----------------------------------------
// ## Columns, rows, padding, and more.
$table-padding:						0.5em 1em !default;

// Headers
// ----------------------------------------
// ## Height, margins, and more.
$header-padding:					0.5em 1em !default;
$header-margin-bottom:				0.5em 1em !default;
$header-height:						2em !default;

$logo-width:						14.5em !default;
$logo-height:						5em !default;

// ** path to image files
$image-path:						"../images/" !default;